<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BOOK</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/send_url.js" type="text/html"></script>
</head>

<body>
  <main>
    <div class="article">
      <h1>
        <%= book.book_title %>
      </h1>

      <p>読了日：<%= book.finished_date%>
      </p>
      <p>気になる一言：<%= book.worried_word%>
      </p>

      <h2>内容</h2>
      <p>
        <%= book.contents %>
      </p>
    </div>
    <form action="/edit/<%=book.book_id%>" method="get">
      <input type="submit" value="変更する">
    </form>
  </main>
  <footer>
    <a class="btn sub" href="/">一覧にもどる</a>
  </footer>
</body>

</html>